@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tags */
.expo {
  border: 0.1rem solid rgb(97, 218, 251);
}
.expo:hover {
  background: rgba(97, 218, 251, 0.25);
}

.react-native {
  border: 0.1rem solid rgb(131, 205, 41);
}
.react-native:hover {
  background: rgba(131, 205, 41, 0.25);
}

.typescript {
  border: 0.1rem solid rgb(67, 153, 52);
}
.typescript:hover {
  background: rgba(67, 153, 52, 0.25);
}

.redux {
  border: 0.1rem solid rgb(118, 74, 188);
}
.redux:hover {
  background: rgba(118, 74, 188, 0.25);
}

.formik {
  border: 0.1rem solid rgb(82, 143, 240);
}
.formik:hover {
  background: rgba(82, 143, 240, 0.25);
}

.nativewind {
  border: 0.1rem solid rgb(25, 118, 210);
}
.nativewind:hover {
  background: rgba(25, 118, 210, 0.25);
}

.yup {
  border: 0.1rem solid rgb(0, 209, 178);
}
.yup:hover {
  background: rgb(0, 209, 178, 0.25);
}

.next {
  border: 1px solid rgb(0, 112, 243);
}
.next:hover {
  background: rgba(0, 112, 243, 0.25);
}

.zustand {
  border: 1px solid rgb(6, 182, 212);
}
.zustand:hover {
  background: rgba(6, 182, 212, 0.25);
}

.mercadopagoAPI {
  border: 1px solid rgb(255, 65, 84);
}
.mercadopagoAPI:hover {
  background: rgba(255, 65, 84, 0.25);
}

.css-modules {
  border: 1px solid rgb(21, 114, 182);
}
.css-modules:hover {
  background: rgba(21, 114, 182, 0.25);
}

.react {
  border: 1px solid rgb(217, 97, 233);
}
.react:hover {
  background: rgba(144, 75, 151, 0.25);
}

.bootstrap {
  border: 1px solid rgb(223, 83, 165);
}
.bootstrap:hover {
  background: rgba(112, 39, 102, 0.25);
}

.chakra-ui {
  border: 1px solid rgb(223, 83, 165);
}
.chakra-ui:hover {
  background: rgba(112, 39, 102, 0.25);
}
